<span id="first-time-vistor" class="h1 hidden uppercase">good <span id="highlight" class="highlight"></span>, ^750I'm andy</span>
<span id="previous-vistor" class="h2 hidden">
    Welcome back, I'm Andy. ^750I hope you're having a <span id="adjective"></span> ^750<span id="highlight" class="highlight"></span></span>
<div class="content"> 
    <div class="text">
        {{#each data.paragraphs}}
            <p>{{this}}</p>
        {{/each}}
    </div>
    
    <p>{{data.tech.intro}}</p>
    <ul class="list-inline">
    {{#each data.tech.items}}
        <li class="label label-primary">{{this}}</li>
    {{/each}}
    </ul>

    <p>{{data.tools.intro}}</p>
    <ul class="list-inline">
    {{#each data.tools.items}}
        <li class="label label-primary">{{this}}</li>
    {{/each}}
    </ul>
    {{> contact}}
</div>