---
layout: src/templates/layouts/default.hbs 
---
{{> projects-nav}}
<div class="container-fluid project-page">
    <section class="row hero">
        <div class="col-sm-5 col-sm-offset-1">
            <span class="h1 header hidden">{{title}}</span>
            <div class="reveal">
                <h3>{{intro}}</h3>
                {{#if this.link}}<a class="btn btn-primary" href="{{this.link}}">Check it out</a>{{/if}}
            </div>
        </div>
        <div class="col-sm-5">
            {{#if this.image }}<img class="project-img reveal" src="img/{{this.slug}}.png">{{/if}}
        </div>
    </section>
    <section class="row info reveal">
        <div class="col-sm-8 col-sm-offset-1">
        {{{this.text}}}
            <ul class="list-inline">
                {{#each this.skills}}
                <li class="label label-primary">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </section>
</div>
{{> footer}}